#winniepicture
{
  display: flex;
  background-color: grey;
  height: 300px;
}

/*
#circletxt
{
  height: 50px;
  width: 100px;
  border: 1px solid black;
}*/

#entete
{
  margin: auto;
}

#circle
{
  width: 200px;
  height: 200px;
  overflow: hidden;
  border-radius: 100px;
  margin: auto;
  margin-top: 50px;
  
}

#circletxt
{
  text-align: center;
  position: relative;
  bottom: 80px;
  right: 15px;
}

#circletxt span
{
  font: 50px Monaco, Monospace;
  font-weight: bold;
  color: pink;
  height: 200px;
  position: absolute;
  border: 1px solid black; 
  transform-origin: bottom center;
}

#w
{
  transform: rotate(-30deg);
}
#i
{
  transform: rotate(-18deg);
}

#n
{
  transform: rotate(-6deg);
}

#nn
{
  transform: rotate(6deg);
}

#ii
{
  transform: rotate(18deg);
}

#e
{
  transform: rotate(30deg);
}

.imgwinnie
{
  width: 350px;
  position: relative;
  right: 100px;
}

.imgtigrou
{
  width: 300px;
  position: relative;
  right: 40px;
  bottom: 15px;
}

.imgporcinet
{
  width: 360px;
  position: relative;
  right: 70px;
}

.imgbourriquet
{
  width: 270px;
  position: relative;
  right: 5px;
}

.imggoldorak
{
  width: 200px;
  position: relative;
  right: 5px;
  top: 51px;
}

#winnietxt
{
  padding: 20px;
  background-color: grey;
}

#friendstxt
{
  background-color: grey;
  display: flex;
}

#friendstxt p
{
  padding: 0px 30px 0px 30px;
}

p
{
  text-align: justify;
  padding: 0px 10px 0px 10px;
}

#friendspics
{
  display: flex;
  height: 300px;
  background-color: grey;
}

.picture
{
  margin: auto;
  width: 200px;
  height: 200px;
  border-radius: 30px;
  overflow: hidden;
  box-shadow: 8px 8px 6px black;
}



nav
{
  display: flex;
  background-color: grey;
  margin: auto;
  padding: 20px 20px 20px 20px;
}

#logo
{
  width: 500px;
  display: flex;
  margin: auto;
}

a
{
  margin: auto;
}

#twitter img
{
  height: 50px;
}

#youtube img
{
  height: 45px;
}

#instagram
{
  height: 50px;
  width: 50px;
  overflow: hidden;
}

#instagram img
{
  height: 65px;
  position: relative;
  right: 25px;
  bottom: 8px;
}

a:hover
{
  transition: transform .9s ease-in-out;
  transform: rotate(360deg);
}
